[submodule "dotfiles/dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = dotfiles/dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
