java openjdk-21
ruby 3.2.3
python system
golang 1.23.3
nodejs 22.11.0
rust 1.80.1
deno 1.26.1
haskell 9.6.2
bun 1.0.2
gcloud 456.0.0
protoc system
dotnet 8.0.204
poetry 1.8.3
awscli 2.17.37
maven 3.9.9
